[Desktop Entry]
Type=Application
Exec=xmodmap /home/jens/.Xmodmap
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[de_DE]=Xmodmap
Name=Xmodmap
Comment[de_DE]=
Comment=